.App {
  background-color: gray;
}

* {
  margin: 0;
}

#card {
  width: 300px;
  height: 250px;
  background-color: gray;
  border: 2px solid black;
  line-height: 2.1em;

  /* position to see card */
  margin-top: 25px;
  margin-left: 25px;
}

.weatherTopSection {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.weatherDay {
 font-size: 1.9em;
 text-align: center;
 font-weight: bolder;
}

.weatherDate {
  font-size: 1.9em;
  text-align: center;
  font-weight: bolder;
}